body{
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center,ellipse cover, rgb(255,255,255) 0%, rgb(41,137,216) 100%);
    background: -webkit-radial-gradient(center,ellipse cover,rgb(255,255,255) 0%, rgb(41137,216) 100%);
    background: radial-gradient(center,ellipse cover,rgb(255,255,255) 0%, rgb(41137,216) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50;
    transform: translate(-50%,50%);
}
.login-form{
    background: rgba(41,137,216, 0.7);
    width: fit-content;
    align-content: center;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 100px #ffffff;
}
.element-input{
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    border-spacing: 10px;
}
.input{
    padding: 10px;
}
.button-login{
    width: 50px;
    border: 10px;
    background: rgba(255,255,255,0,7);
    border-radius: 10px;
    border-spacing: 10px;
}
.button-login:hover{
    background: rgb(255,255,255);
}
.notifikasi{
    padding: 10px;
    background: rgba(244, 66,119, 0.5);
    border-radius: 3px;
    margin: 0px;
}
.button-logout{
    border: 10px;
    padding: 10px;
    background: rgba(255,255,255,0,7);
    border-radius: 10px;
    border-spacing: 10px;
}
.button-logout:hover{
    background: rgb(255,255,255);
}